{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>{{room.name}} | Twilio Chat</title>
  <link rel="shortcut icon" href="//www.twilio.com/marketing/bundles/marketing/img/favicons/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" />
  <link rel="stylesheet" href="{% static "chat/styles/room_detail.css" %}">
</head>

<body>
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <section>
          <div id="messages"></div>
          <form id="message-form">
            <div class="field">
              <label class="label">Message</label>
              <div class="control">
                <textarea class="textarea" id="message-input"placeholder="Your message here" rows="3" autofocus>